# Node.js
node_modules

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*

# Environment Variables
.env
.env.local

# Build Output
dist/
build/

# Python
__pycache__/

venv/

# OS/System Files
.DS_Store
Thumbs.db

# IDE/Editor Files
.vscode/
.idea/

.venv/
venv/

.ipynb_checkpoints/

client/node_modules/
server/node_modules/

*.pyc
*.pyo

.DS_Store


# Node (React client)
client/node_modules/
client/.env

# Python (Flask server)
server/__pycache__/
server/venv/
server/.env

# General
*.log
.DS_Store
.env