.custom-navbar {
    height: 150px;
    background: linear-gradient(135deg, #28a745, #218838);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
    transform: scale(1.1);
}

.nav-links .nav-link {
    font-size: 1.2rem;
    color: white !important;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.nav-links .nav-link:hover {
    color: #ffeb3b !important; 
    text-decoration: underline;
}

.profile-dropdown .dropdown-toggle {
    font-size: 1.2rem;
    color: white !important;
    border: none;
    background: none;
}

.logout-btn {
    width: 100%;
    font-size: 1rem;
}


.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(145deg, #1e90ff, #0073e6);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 6px 0 #005bb5, 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  .btn-3d:active {
    box-shadow: 0 2px 0 #005bb5, 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
  }
  
  .btn-3d:hover {
    background: linear-gradient(145deg, #0073e6, #1e90ff);
  }
  

@media (max-width: 768px) {
    .custom-navbar {
        height: auto;
        padding: 10px;
    }

    .logo-img {
        height: 10px;
    }

    .nav-links .nav-link {
        font-size: 1rem;
        margin-right: 10px;
    }
}
