# Node.js Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.venv
*.swp

# Machine Learning Model Files
*.pkl
*.h5
*.pt
*.ckpt

# Database Files (if any)
*.sqlite
*.db
